<style>
    h1, p {
        color: black;
    }
    #home {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

    }


    #stars {
        font-size: 1.5em;
    }
    #trophy {
        display:flex;
        justify-content:center;
    }
    #trophyNum {
        position: absolute;
        top: 65.5%;
        display: inline-block;

    }

</style>

<div id="home">


  <h1>Rewards</h1>
  <div id = "stars">

    {{!-- <img src="{{starBlue}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" /> --}}
    <p><strong>Stars: {{stars}}/3</strong></p>
  </div>
  <br>
  <div id = "trophy">
     <img src="{{trophy}}" width="80" height="70" alt="" />
     <h1 id="trophyNum"> {{trophyNumber}} </h1>
  </div>

 </div>
