<style>
    #trophy > h1 {
        position: absolute;
        left: 25%;
        top: 55%;
        display: inline-block;
    }
</style>

<div id="home">


  <h1>Rewards</h1>
  <div id = "stars">
    <img src="{{starBlue}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" />
    <img src="{{starGrey}}" width="50" height="50" alt="" />
  </div>
  <br>
  <div id = "trophy">
     <img src="{{trophy}}" width="70" height="70" alt="" />
     <h1> {{trophyNumber}} </h1>
  </div>

 </div>
